.view-index {

	 h1 {
		font-weight: 400;
		font-size: 23px;
		margin-top: 25px;
	}

	.info {

		p {
			margin-bottom: 5px;
		}
	}

	.icon div {
		margin: 0 auto;
		width: 150px;
		height: 150px;
		background: #eee;
		border-radius: 100%;
		text-align: center;
		line-height: 150px;
		font-size: 74px;
		font-weight: 100;
		margin-top: 45px;
	}

}